<h1>Cards</h1>
<h3>Card Titles</h3>
<% public.docs.cards._data.cards.results.forEach(function(card) { %>
    <li><%= card.title %></li>
<% }); %>

<div class="row cards">
<h3>Card Loop</h3>
<% results.forEach(function(card, index) { %>
    <div class="card small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card__inner">
            <div class="card__header">
                <h3><a href="<%= card.link %>"><%= card.title %></a></h3>
            </div>
            <div class="card__date">
                <h5><%= card.date %></h5>
            </div>
            <div class="card__body">
                <%= card.body %>
            </div>
            <div class="card__image">
                <img src="/assets/images/unsplash/<%= public.assets.images.unsplash._contents[index] %>">
            </div>
            <div class="card__category">
                <% card.category.forEach(function(category) { %>
                    <%= category %>
                <% }); %>
            </div>
        </div>
    </div>
<% }); %>
</div>
